.footer__terms {
  margin: 25px auto 100px;
  border-bottom: 1px solid #1535a3;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #1535a3;
  transition: .3s;
}

.footer__terms:hover {
  color: #b1c2ff;
  border-bottom: 1px solid #b1c2ff;
}

@media screen and (max-width: 640px) {
  .footer__terms {
    margin: 25px auto 50px;
    font-size: 16px;
    line-height: 24px;
  }
}