.prizes {
  margin: 0 249px 100px 199px;
  max-width: 992px;
  width: 992px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  outline: 1px solid green;
}

@media screen and (max-width: 640px) {
  .prizes {
    margin: 0 71px 50px 41px;
    max-width: 528px;
    width: 528px;    
    min-height: 324px;
  }
}