.hero__decor-left {
  margin-left: 95px;
  width: 350px;
  height: 350px;
  background-image: url(../../../../images/decoration/mom&son.png);

}

@media screen and (max-width: 640px) {
  .hero__decor-left {
    margin-left: -20px;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
  }
}

@media screen and (max-width: 320px) {
  .hero__decor-left {    
    margin-left: -16px;
    padding: 0;
    box-sizing: content-box;    
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    
  }
}