.reg-button{
  width: 408px;
  height: 55px;
  background: #fff;
  border: 0;
  border-radius: 28px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  color: #1535A3;
}