.reg-button {
  width: 408px;
  height: 55px;
  background: #fff;
  border: 0;
  border-radius: 28px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  color: #1535a3;
  transition: .3s;
}

.reg-button:hover {
  border: 1px solid #fff;
  box-sizing: border-box;
  background: #1535a3;
  color: #fff;
}

@media screen and (max-width: 639px) {
  .reg-button {
    width: 250px;
    height: 40px;
    font-size: 14px;
    line-height: 14px;
  }
}