.hero__general {
  padding-top: 49.97px;
  padding-left: 95px;
  box-sizing: border-box;
  width: 745px;
}

@media screen and (max-width: 640px) {
  .hero__general {
    padding-top: 10px;
    padding-left: 40px;
  }
}