.footer {
  margin: 0;
  padding-top: 99px;
  padding-bottom: 552px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../images/decoration/kids.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@media screen and (max-width: 640px) {
  .footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 262px;    
    background-image: url(../../../images/decoration/kids_footer.png);
    background-size: 642px 424px;
    background-position: -2px 113px;
  }
}

@media screen and (max-width: 320px) {
  .footer {    
    padding-bottom: 130px;        
    background-size: 360px auto;
    background-position: -20px 128px;
  }
}