.footer {
  margin: 0;
  padding-top: 99px;
  padding-bottom: 552px;
  box-sizing: border-box;
  width: 100%;
  /*min-height: 970px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../images/decoration/kids.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@media screen and (max-width: 640px) {
  .footer {
    position: relative;
    margin-top: -55px;
    padding-top: 50px;
    padding-bottom: 262px;
    /*min-height: 537px; */
    background-image: url(../../../images/decoration/kids_footer.png);
    background-size: 642px 424px;
    background-position: -2px 113px;
  }
}