.prize__quantity {
  margin: 0;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 30px;
  background: #b1c2ff;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (max-width: 640px) {
  .prize__quantity {
    width: 100px;
    height: 25px;    
    font-size: 14px;
    line-height: 21px;
  }
}