.hero {
  position: relative;  
  z-index: 1;
  margin-bottom: 100px;
  min-height: 745px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(../../../images/decoration/Intersect.svg);
  background-size: 1275.35px 604.83px;  
  background-repeat: no-repeat;
  color: #fff;
  outline: 1px solid blue;
}