.participation__arrow-icon {
  width: 100px;
  height: 20px;
}

@media screen and (max-width: 640px) {
  .participation__arrow-icon {
    width: 75px;
    height: 14.56px;
  }
}

@media screen and (max-width: 320px) {
  .participation__arrow-icon {    
    height: 15px;
  }
}