.participation__term_type_wait {
  width: 194.35px;
}

@media screen and (max-width: 640px) {
  .participation__term_type_wait {
    margin-top: 15px;
    width: 251px;
  }
}

@media screen and (max-width: 320px) {
  .participation__term_type_wait {
    width: 151px;
  }
}