.participation__term-icon {
  margin-bottom: 49.62px;
  height: 74.98px;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .participation__term-icon {
    margin-bottom: 25px;
    height: 40px;
  }
}