.content {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .content {
    /*top: -55px;*/
    margin-top: -55px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    /*top: -45px;*/
    margin-top: -45px;
  }
}