.reg-button_theme_blue {
  background: #1535a3;
  color: #fff;
}

.reg-button_theme_blue:hover {
  border: 1px solid #1535a3;
  box-sizing: border-box;
  background: #fff;
  color: #1535a3;
}

@media screen and (max-width: 640px) {
  .reg-button_theme_blue {
    width: 280px;
    height: 40px;
    font-size: 16px;
    line-height: 14px;
  }
}
@media screen and (max-width: 320px) {
  .reg-button_theme_blue {
    width: 250px;
    font-size: 14px;    
  }
}