.participation__delimiter_type_third {
  margin-left: -34px;
}

@media screen and (max-width: 640px) {
  .participation__delimiter_type_third {
    /*margin-top: -18px;
    margin-left: auto;
    margin-right: 130.44px;*/
    margin-left: 0;
    transform: translate(150px, 10px) rotate(90deg);
  }
}

@media screen and (max-width: 640px) {
  .participation__delimiter_type_third {
    /*margin-top: -18px;
    margin-left: auto;
    margin-right: 130.44px;*/
    transform: translate(130px, 10px) rotate(90deg);
  }
}