.burger-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  width: 20px;
  height: 17px;
  background: url(../../../images/ui/burger.svg);
}

@media screen and (max-width: 640px) {
  .burger-button {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .burger-button {
    height: 14px;
    background-size: contain;
  }
}